<h1 class="mb-4">Add New Books 📘</h1>

<form action="/addbooks" method="POST" class="mt-4">

  <div class="mb-3">
    <input type="text" name="title" class="form-control" placeholder="Enter Book Name" required>
  </div>

  <div class="mb-3">
    <input type="number" name="pages" class="form-control" placeholder="Enter Number of Pages" required>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>