<div class="text-center mt-5">
  <h1 class="mb-4">Number of Pages 📖</h1>
  <p class="lead mb-3">The book has:</p>
  <h3 class="text-primary"><%= bookPages %> pages</h3>

  <a href="/addbook" class="btn btn-secondary mt-4 me-2">Add Another Book</a>
  <a href="/titles" class="btn btn-primary mt-4">View Book Title</a>
</div>