<div class="text-center mt-5">
  <h1 class="mb-4">Book Title 📖</h1>
  <p class="lead mb-3">The title of the book is:</p>
  <h3 class="text-primary"><%= bookTitle %></h3>

  <a href="/addbook" class="btn btn-secondary mt-4 me-2">Add Another Book</a>
  <a href="/bookpage" class="btn btn-primary mt-4">View Number of Pages</a>
</div>