<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Reading Books</h1>
    <p>Reading books allows me to explore new ideas, stories, and perspectives. It helps me relax, improve my knowledge, and imagine worlds beyond my own.</p>
    <div style="text-align:center;">
    <img src="/images/bookhobby.jpg" alt="Book Hobby">
    </div>
  </body>
</html>
