<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: rgb(56, 5, 5); text-align: center; font: 3em sans-serif;">Miles, Smiles & Memories</h1>
    <p style="color: darkslategrey; font: 2em sans-serif; text-align: center;">Glad you’re here. Adventure starts now.</p>
    <div style="text-align:center;">
        <img src="\images\scotland.jpg" alt="Scotland" 
             style="border: 3px solid #a8a3a3; width: 400px; height: auto;">
    </div>
  </body>
</html>
